/* Navbar */
nav.menu {
  width: 100%;
  padding: 16px;
  background-color: transparent;

  display: flex;
  align-items: center;
}

nav.menu img {
  width: 90px;
}
/* Fim do componente navbar */

/* Page login */
#page-login {
  background-image: url("../../assets/doodles/doodle-mobile.svg");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: var(--color-background-dark);
}

@media screen and (min-width: 1200px) {
  #page-login {
    background-image: url("../../assets/doodles/doodle-desktop.svg");
    background-position: center -500px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

#page-login main {
  width: 100%;
  height: 100vh;
}

#page-login main {
  padding: 32px 16px;
  text-align: center;
}

#page-login main h1 {
  font-size: 2rem;
  background: linear-gradient(180deg, #f48c67 0%, #f49254 36.98%, #f59c33 100%);

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  margin-bottom: 0.8rem;
}

#page-login main p {
  color: var(--color-primary-light);
  line-height: 1.4rem;
  font-size: 1rem;

  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 16px;
}

#page-login main h4 {
  color: var(--color-primary-light);
  line-height: 1.4rem;
  font-size: 1rem;
  margin-bottom: 16px;
}

/* INPUT AND BUTTON */

/* Gambiarra para setar um border-radius com gradiente */
.gradient-box-input {
  padding: 3px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    #f4994d 0%,
    #f4994d 0.01%,
    rgba(244, 153, 77, 0.307222) 99.98%,
    rgba(244, 153, 77, 0) 99.99%,
    #786247 100%
  );
  width: min-content;
  margin: 0 auto;
}

input {
  width: 220px;
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--color-background-dark);
}

input::placeholder,
input {
  color: #fff;
  font-size: 1rem;
}

.gradient-box-button {
  padding: 4.5px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    #f4994d 0%,
    rgba(241, 113, 6, 0) 63.54%,
    #786247 99.97%,
    rgba(244, 153, 77, 0.307222) 99.98%
  );
  width: min-content;
  margin: 0 auto;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  margin-top: 16px;
}

button.entry {
  background-color: var(--color-background-dark);
  width: 168px;
  padding: 4px 12px;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  outline: none;
  border: none;
}

.entry-img {
  margin-top: 8px;
}
